body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fira Code";
    height: 100vh;
    background-color: #474749; 
    overflow: hidden; 
}

ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
}

.container {
    text-align: center;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgb(34, 34, 34);
    border: solid 2px;
    box-shadow: 0px 0px 10px black;
    overflow-y: auto;
    height: auto;
    min-height: 100vw;
    color: white;
}